@import "tailwindcss";

* {
    font-family: 'open-sans', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@keyframes vertical-scroll {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50%);
    }
}

.animate-vertical-scroll {
    animation: vertical-scroll 25s linear infinite;
}